/*Reset styles*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: inherit;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}
button, input {
    cursor: pointer;
    background-color: inherit;
}
.main_container {
    display: flex;
    flex-direction: column;
}
/*=======================HEADER============================*/
.header {
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    z-index: 50;
    font-family: "K2D", sans-serif;
    font-weight: bold;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 4.375rem;
    background-color: #F6FF00;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 4.375rem;
}
.header_logo {
    font-family: "Knewave", system-ui;
    font-size: 32px;
    margin-left: 53px;
    position: relative;
    z-index: 5;
}
.header_menu {
    margin-right: 53px;
}
.menu {
}
.menu_body {
    position: relative;
    z-index: 5;
}
.menu_list {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    row-gap: 0.3125rem;
    flex-wrap: wrap;
}
.menu_item {
}
.menu_link {
    font-size: 1.125rem;
}
.menu_link:hover {
    text-decoration: underline;
}
.menu_icon {
}
.icon-menu {
    display: none;
}
.icon_menu-line {
}
.list_item {
}

/*=======================HEADER============================*/


/*=======================HERO============================*/
.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 820px;
    background-color: #000;
    border-radius: 10px;
    margin: 93px auto;
    font-family: "K2D", sans-serif;
    color: #fff;
}
.hero_title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 19px;
}
.hero_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}
.hero_image {
    max-width: 345px;
    margin-left: 33px;
}
.hero_image img {
    width: 100%;
    object-fit: cover;
}
.hero_content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-right: 20px;
    max-width: 50%;
}
.content_title {
    font-size: 22px;
    margin-bottom: 30px;
}
.specs_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 14px;
    margin-bottom: 52px;
    margin-left: 50px;
}
.spec1 {
    position: relative;
}
.spec1::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-processor-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.spec2 {
    position: relative;
}
.spec2::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-memory-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.spec3 {
    position: relative;
}
.spec3::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-graphic-card-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.spec4 {
    position: relative;
}
.spec4::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-display-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
    gap: 10px;
}
.btn {
    color: #fff;
    background-color: #FFA200;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 800;
    padding: 6px 21px;
    transition: 0.5s all ease-in-out;
}
.btn:hover {
    color: #ff0000;
    box-shadow: 0px 0px 8px 8px #ff0000;
}
/*=======================HERO============================*/



/*=======================MEDIA============================*/
@media (max-width: 925px) {
    .hero_section {
        width: 90%;
    }
    .hero_container {
        gap: 5px;
        margin-bottom: 20px;
    }
    .hero_image {
        margin-top: 30px;
        margin-left: 15px;
    }
    .btn {
        font-size: 18px;
        padding: 6px 15px;
    }
}
@media (max-width: 767.98px) {
    .menu_body {
        position: fixed;
        width: 100%;height: 100%;
        top: 0;
        left: -100%;    /*central line hide onclick*/
        transition: left 0.5s;
        background-color: #f6ff00f5;
        padding: 6.25rem 0.9375rem 1.25rem 0.9375rem;
        overflow: auto;     /*добавляем скролл в меню*/
        z-index: 1;
    }

    .menu-open .menu_body {         
        left: 0;
    }
    .menu_list {
        flex-direction: column;
        gap: 2.1875rem;
    }
    .menu_link {
        font-size: 1.875rem;
    }
/*===================lines=================*/
    .icon-menu {
        display: block; /*turn on menu*/
        position: relative;
        z-index: 5;
        width: 1.875rem;
        height: 1.125rem;
    }
    .icon_menu-line,   
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        position: absolute;
        background-color: #000000;
        height: 0.125rem;
        width: 100%;
        left: 0;
        transition: all 0.5s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon_menu-line {
        top: calc(50% - 0.0625rem);
    }

    /*step 2 moving lines*/
    .menu-open .icon-menu::before {
        top: calc(50% - 0.0625rem);
        transform: rotate(-45deg);
    }
    .menu-open .icon-menu::after {
        top: calc(50% - 0.0625rem);
        transform: rotate(45deg);
    }
    .menu-open .icon_menu-line {
        left: 50%;
        width: 0;
    }
    .specs_container {
        margin-bottom: 20px;
    }
    .hero_image {
        max-width: 345px;
        margin-left: 10px;
    }
    .btn {
        font-size: 18px;
        padding: 6px 10px;
    }
}
@media (max-width: 640px) {
    .header_menu {
        margin-right: 15px;
    }
    .hero_section {
        width: 95%;
    }
    .hero_container {
        flex-direction: column;
    }
    .hero_content {
        max-width: 90%;
        margin: 0 auto;
    }
    .hero_image {
        margin: 0 auto;
    }
    .btn_container {
        margin-right: 0;
    }
}
@media (max-width: 450px) {
    .header_logo {
        font-size: 24px;
        margin-left: 10px;
    }
    .hero_title {
        margin-top: 10px;
        font-size: 30px;
    }
    .specs_container {
        margin-left: 35px;
    }
}