/*Reset styles*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: inherit;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}
button, input {
    cursor: pointer;
    background-color: inherit;
}
.main_container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: #F6FF00;
    margin-bottom: 63px;
    width: 100%;
}
.logo {
    font-family: "Knewave", system-ui;
    font-size: 32px;
    margin-left: 53px;
}
.header_menu {
    margin-right: 53px;
}
.list_container {
    display: flex;
    flex-direction: row;
    gap: 18px;
}
.list_item {
}
.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 820px;
    background-color: #000;
    border-radius: 10px;
    margin: 0 auto;
    font-family: "K2D", sans-serif;
    color: #fff;
}
.hero_title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 19px;
}
.hero_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}
.hero_image {
    max-width: 345px;
    margin-left: 33px;
}
.hero_image img {
    width: 100%;
    object-fit: cover;
}
.hero_content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-right: 20px;
    max-width: 50%;
}
.content_title {
    font-size: 22px;
    margin-bottom: 30px;
}
.specs_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 14px;
    margin-bottom: 52px;
    margin-left: 50px;
}
.spec1 {
    position: relative;
}
.spec1::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-processor-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.spec2 {
    position: relative;
}
.spec2::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-memory-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.spec3 {
    position: relative;
}
.spec3::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-graphic-card-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.spec4 {
    position: relative;
}
.spec4::before{
    content: "";
    position: absolute;
    left: -30px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/lenovo-display-pure-light.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
    gap: 10px;
}
.btn {
    color: #fff;
    background-color: #FFA200;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 800;
    padding: 6px 21px;
}